<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="dist/style.css" />
	</head>

	<body>
		<!-- ############# first app #app -->
		<section id="app" :class="classObject">
			<a class="res" :href="href">
				<img :src="image" width="400" />
			</a>
			<div class="content">
				<h1>{{ title }}</h1>
				<p v-if="inStock > 0">In stock</p>
				<p v-else-if="inStock == 0">sold out!</p>
				
				<!-- colors  -->
				<div class="colors"
				v-for="(variant, index) in variants" 
				:key="variant.id"
				:style="{ backgroundColor: variant.color }"
				@mouseover="updadeProduct(index)"
				>
				</div>
				
				<!-- info -->
				<ol>
					<li 
					v-for="size in sizes"
					:key="size.id"
					>{{ size.andaze }}</li>
				</ol>

				<!-- add to Cart -->
				<div class="cart">
					<button
					:disabled="!inStock" 
					v-on:click="addToCart"
					:class="{ disableButton: !inStock }"
					>Add to Cart</button>
					<div>cart ({{ cart }})</div>
				</div>
				<div>
					<button v-if="cart > 0" v-on:click="removeFromCart">Remove From Cart</button>
				</div>
				<p :class="{ outOfStock: !inStock }">Out of Stock</p>
			</div>
		</section>

		<script src="node_modules/vue/dist/vue.js"></script>
		<script src="dist/main.js"></script>
	</body>
</html>
