<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="dist/style.css" />
	</head>

	<body>
		<!-- ############# first app #app -->
		<section id="app" class="gradient-border">
			<h2>Attribute binding & Condition</h2>
			<a class="res" :href="href">
				<img :src="image" :alt="description" width="400" />
			</a>
			<div class="content">
				<h1>{{ product }}</h1>
				<p>{{ description }}</p>
				<span v-show="onSale">On Sale</span>
				<p v-if="quantity > 10">In stock</p>
				<p v-else-if="quantity <= 10 && quantity > 0">Almost sold out!</p>
				<p v-else>Sold out!</p>
				<strong>Colors</strong>
				<div v-for="detail in details" :key="detail.id">
					<p @mouseover="updadeProduct(detail.detailImage)">{{ detail.color }}</p>
				</div>
				<!-- sizes
				<ol>
					<li 
					v-for="size in sizes"
					:key="size.id"
					>{{ size.andaze }}</li>
				</ol> -->
				<div class="cart">
					<button v-on:click="addToCart">Add to Cart</button>
					<div>cart ({{ cart }})</div>
				</div>
				<div class="cart">
					<button v-if="cart > 0" v-on:click="removeFromCart">
						Remove From Cart
					</button>
				</div>
			</div>
		</section>

		<script src="node_modules/vue/dist/vue.js"></script>
		<script src="dist/main.js"></script>
	</body>
</html>
